/*Change header*/
header#page-header {
    /*background: url(/static/asset/img/backgroudheader.jpg);*/
	/*background: #3B78E7;*/
    background: #ffffff;
    /*background-size:contain;*/
    height: 48px;
}

/*Change Color Top Menu*/
.navbar {
    /*background: #AD975A;*/
    background: #3E69B6;
}
/*Change Color Seleted Top Menu*/
.navbar .navbar-nav li.open a{
    background: #3E69B6;
}
.navbar .navbar-nav li.selected a { 
    color: #ffffff; 
    background: #354A6F;
}
/*Change Color hover top menu*/
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li.active a:hover { 
    color: #ffffff; 
    background: #354A6F;
}
.navbar .open, .navbar .open > a, .navbar .open > a:focus, .navbar .open > a:hover { 
    color: #ffffff; 
    background: #354A6F;
}

/*Change color dropdown menu top*/
.navbar .dropdown .dropdown-menu { 
    background: #3E69B6; 
    border-top-color: #354A6F;
}
.navbar .dropdown .dropdown-menu li { 
    background: #3E69B6;
}
.navbar .dropdown .dropdown-menu li a { 
    color: #ffffff 
}
.navbar .dropdown .dropdown-menu li a:hover { 
    background: #354A6F;
}

/*Change color left menu*/
#menu-left {
    background: #FAFAFA;
    border-right-color:#E5E5E5;
}
/*Change color button menu*/
#menu-left .toogle-left span {
    background: #ADADAD;
}
#menu-left .toogle-left span:hover{
    background: #737373;
}
ul.topnav li a:hover {
    background-color: #D6E0F7;
    color: #6489EB!important;
    border-left-color: #6489EB;
}   
ul.topnav li a:hover:after {
    border-bottom-color:#6489EB;
}
ul.topnav li a.selected {
    background-color: #D6E0F7;
    color: #6489EB!important;
    border-left-color: #6489EB;
}
ul.topnav li a.selected:after {
    border-bottom-color:#6489EB;
}
ul.topnav ul li a:hover {
    color: #6489EB!important;
}

/*Change color body notification*/
.notif .content-notif {
    /*background: rgb(136, 124, 90);*/
    background: #FAFAFA;
}
    .notif {
        background: #233D6C;
        border-color:#233D6C;
    }
    .notif .content-notif .media-body {
        background: #D6E0F7;
    }
    .notif .content-notif i {
        color:#26C7F0;
    }

/*Panel color*/
.panel-custom {
    border-color: #3E69B6;
}
.panel-custom>.panel-heading {
    color: #ffffff;
    background-color: #3E69B6;
    border-color: #3E69B6;
}