<!-- widget -->
<script src="/static/asset/js/main/datasource.js"></script>

<div class="container-fluid content-main chart-widget" data-bind="visible: mode() == '', with: dataSource">
	<div class="content-header">
		<div class="row">
			<div class="col-md-12 title-content">
				<span class="col-md-3">Data Source</span>
				<div class="col-md-9">
					<button class="btn btn-sm btn-success" data-bind="click: refresh">
						<span class="glyphicon glyphicon-refresh"></span> Refresh
					</button>
					<button class="btn btn-sm btn-primary" data-bind="click: add">
						<span class="glyphicon glyphicon-plus"></span> Add New Data Source
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="content-body" data-overlay-page-wrap>
		<div class="row">
			<div class="datasource-grid grid" data-bind="kendoGrid: viewModel.dataSource.grid" style="height: 400px; width: 100%;"></div>
		</div>
	</div>
</div>

<div class="container-fluid content-main chart-widget" data-bind="visible: (mode() == 'editor'), with: dataSource">
	<div class="content-header">
		<div class="row">
			<div class="col-md-12 title-content">
				<span class="col-md-3">Chart Editor</span>
				<div class="col-md-9">
					<button class="btn btn-sm btn-warning" data-bind="click: back">
						<span class="glyphicon glyphicon-chevron-left"></span> Back
					</button>
					<button class="btn btn-sm btn-success" data-bind="click: save">
						<span class="glyphicon glyphicon-save"></span> Save
					</button>
					<button class="btn btn-sm btn-primary" data-bind="click: preview, visible: viewModel.dataSource.isSaved">
						<span class="glyphicon glyphicon-eye-open"></span> Preview
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="content-body" data-overlay-page-wrap data-bind="with: config">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Create New Data Source</h1>
			</div>
			<div class="panel-body">
				<form class="form-horizontal datasource-form" enctype="multipart/form-data">
					<div class="form-group" data-bind="visible: _id() != ''">
						<label class="col-sm-2 control-label">ID</label>
						<div class="col-sm-10">
							<input disabled readonly type="text" class="form-control input-sm" data-bind="value: _id" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Title</label>
						<div class="col-sm-10">
							<input required data-required-msg="Title cannot be empty" name="title" type="text" class="form-control input-sm" placeholder="Type title here ..." data-bind="value: title" />
							<span class="k-invalid-msg" data-for="title"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Type</label>
						<div class="col-sm-10">
							<select required data-required-msg="Type cannot be empty" name="type" style="width: 100%" data-bind="kendoDropDownList: { data: viewModel.dataSource.options.types, value: type, dataTextField: 'title', dataValueField: 'value' }"></select>
							<span class="k-invalid-msg" data-for="type"></span>
						</div>
					</div>
					<div class="form-group" data-bind="visible: type() == 'url'">
						<label class="col-sm-2 control-label">URL</label>
						<div class="col-sm-10">
							<input required data-required-msg="URL cannot be empty" name="path" type="text" class="form-control input-sm" placeholder="Type URL here ..." data-bind="value: path" />
							<span class="k-invalid-msg" data-for="path"></span>
						</div>
					</div>
					<div class="form-group" data-bind="visible: type() == 'file'">
						<label class="col-sm-2 control-label">File</label>
						<div class="col-sm-10">
							<input required data-required-msg="File cannot be empty" name="file" type="file" class="form-control input-sm" />
							<span class="k-invalid-msg" data-for="file"></span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- modal preview -->
<div class="modal fade modal-datasource-preview" tabindex="-1" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
            <div class="datasource-preview"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>