<!-- widget -->
<script>
	viewModel.header.PageID = "{{.pageID}}";
    viewModel.header.title = "{{.title}}";
    viewModel.header.href = "{{.href}}";
    viewModel.header.production = {{.production}};
</script>
<script src="/static/asset/js/main/designer.js"></script>

<script type="text/template" id="template-panel">
	<div class="grid-item" /** data-ss-colspan="10" */>
		<div class="panel panel-custom">
			<div class="panel-heading">
				<h3 class="panel-title">Panel 1</h3>
				<span class="pull-right clickable" onclick="viewModel.designer.removePanel(this)">
					<i class="fa fa-close"></i>
				</span>
				<span class="pull-right clickable">
					<i class="fa fa-gear btn-popover"></i>
				</span>
				<span class="pull-right clickable" onclick="viewModel.designer.hideShow(this)">
					<i class="fa fa-chevron-up hideshow"></i>
				</span>
			</div>
			<div class="panel-body">Panel content</div>
		</div>
	</div>
</script>

<script type="text/template" id="template-popover">
	<div class="popover" role="tooltip" style="width: 300px;">
		<div class="arrow"></div>
		<h3 class="popover-title"></h3>
		<div class="popover-content"></div>
	</div>
</script>

<script type="text/template" id="template-content-popover-panel">
	<form class="form-horizontal page-form" data-bind="with: viewModel.designer.panelConfig">
		<div class="form-group">
			<label class="col-sm-2 control-label">Title</label>
			<div class="col-sm-10">
				<input required name="Title" type="text" class="form-control input-sm" data-bind="value: title" />
				<span class="k-invalid-msg" data-for="Title"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Width</label>
			<div class="col-sm-10">
				<select style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionPanelWidth, value: width }"></select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Offset</label>
			<div class="col-sm-10">
				<select style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionPanelWidth, value: offset }"></select>
			</div>
		</div>
		<div class='pull-right' style="margin-top: 0px;">
			<button data-bind="click: viewModel.designer.createPanel" class='btn btn-sm btn-success'>
				<span class='glyphicon glyphicon-save'></span> Save
			</button>
		</div>
	</form>
</script>

<div class="container-fluid content-main chart-widget" data-bind="visible: mode() == '', with: designer">
	<div class="content-header">
		<div class="row">
			<div class="col-md-12 title-content">
				<span class="col-md-3 page-title"></span>
				<div class="col-md-9 btn-nav-container">
					<div class="btn-group btn-sm">
						<button class="btn btn-sm btn-success btn-popover btn-set-datasource">
							<span class="fa fa-database"></span> Set Data Source
						</button>
					</div>
					<div class="btn-group btn-sm">
						<button class="btn btn-sm btn-primary btn-popover btn-add-panel" data-bind="click: showAddPanelModal">
							<span class="glyphicon glyphicon-plus"></span> Add Panel
						</button>
					</div>
					<div class="btn-group btn-sm">
						<button class="btn btn-sm btn-info btn-popover btn-hideshow-panel">
							<span class="glyphicon glyphicon-eye-open"></span> Hide Show Panel
						</button>
					</div>
					<div class="btn-group btn-sm">
						<a class="btn btn-sm btn-warning btn-preview" data-bind="attr: { 'href': viewModel.designer.href }" target="_blank">
							<span class="glyphicon glyphicon-eye-open"></span> Preview
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-body content-panel" data-overlay-page-wrap>
		<div class="grid-container"></div>
	</div>

	<div class="modal fade modal-add-panel" tabindex="-1" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                	<span aria-hidden="true">&times;</span>
	            	</button>
	                <h4 class="modal-title">Add new panel</h4>
	            </div>
	            <div class="modal-body">
	                <form class="form-horizontal page-form" data-bind="with: viewModel.designer.panelConfig">
						<div class="form-group">
							<label class="col-sm-4 control-label">Title</label>
							<div class="col-sm-6">
								<input required name="Title" type="text" class="form-control input-sm" data-bind="value: title" />
								<span class="k-invalid-msg" data-for="Title"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Width</label>
							<div class="col-sm-6">
								<input style="width: 40%;" name="width" required data-required-msg="Width is required" data-bind="kendoNumericTextBox: { value: width, min: 1, max: 12, format: '#' }" />
								<label style="margin-left: 15px;">min: 1</label>
								<label style="margin-left: 10px;">max: 12</label>
								<br />
								<span class="k-invalid-msg" data-for="width"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Offset</label>
							<div class="col-sm-6">
								<input style="width: 40%;" name="offset" required data-required-msg="Offset is required" data-bind="kendoNumericTextBox: { value: offset, min: 0, max: 12, format: '#' }" />
								<label style="margin-left: 15px;">min: 0</label>
								<label style="margin-left: 10px;">max: 12</label>
								<br />
								<span class="k-invalid-msg" data-for="offset"></span>
							</div>
						</div>
					</form>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
					<button class='btn btn-sm btn-success' data-bind="click: viewModel.designer.createPanel">
						<span class='glyphicon glyphicon-save'></span> Save
					</button>
	            </div>
				
	        </div>
	    </div>
	</div>

	<div class="modal fade modal-add-widget" tabindex="-1" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                	<span aria-hidden="true">&times;</span>
	            	</button>
	                <h4 class="modal-title">Add new widget</h4>
	            </div>
	            <div class="modal-body">
	                <form class="form-horizontal page-form" data-bind="with: viewModel.designer.widgetConfig">
						<div class="form-group">
							<label class="col-sm-4 control-label">Panel :</label>
							<div class="col-sm-6">
								<select name="panel" disabled required data-required-msg="Select panel" style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionPanelID, value: panelID, optionLabel: 'Select one', dataValueField: 'value', dataTextField: 'title' }"></select>
				                <span class="k-invalid-msg" data-for="panel"></span>
							</div>
							<div class="clearfix"></div>
						</div>
						<hr />
						<div class="form-group">
							<label class="col-sm-4 control-label">Title :</label>
							<div class="col-sm-6">
								<input required name="Title" type="text" class="form-control input-sm" data-bind="value: title" />
								<span class="k-invalid-msg" data-for="Title"></span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Width Ratio :</label>
							<div class="col-sm-6">
								<input name="width" style="width: 40%;" data-bind="kendoNumericTextBox: { value: width, min: 10, max: 100, format: '# \\%' }" />
				                <span class="k-invalid-msg" data-for="width"></span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Height :</label>
							<div class="col-sm-6">
								<input name="height" style="width: 40%;" data-bind="kendoNumericTextBox: { value: height, min: 0, format: '# px' }" />
				                <span class="k-invalid-msg" data-for="height"></span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Widget :</label>
							<div class="col-sm-6">
								<select name="widget" style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionWidgetType, value: type, dataValueField: 'value', dataTextField: 'title', change: viewModel.designer.changePopupWidgetSelectedTypeValue }"></select>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Setting :</label>
							<div class="col-sm-6">
								<select name="setting" required data-required-msg="Setting is require" style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionWidgetID, value: widgetID, optionLabel: 'Select one', dataValueField: 'value', dataTextField: 'title' }"></select>
				                <span class="k-invalid-msg" data-for="setting"></span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group" data-bind="visible:viewModel.designer.widgetConfig.type() !== 'selector'">
							<label class="col-sm-4 control-label">Data Source :</label>
							<div class="col-sm-6">
								<!-- <select name="datasource" required data-required-msg="Data source is required" style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionDataSources, value: dataSource, optionLabel: 'Select one', dataValueField: 'value', dataTextField: 'title' }"></select>
				                <span class="k-invalid-msg" data-for="datasource"></span> -->
				                <select name="datasource" style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionDataSources, value: dataSource, optionLabel: 'Select one', dataValueField: 'value', dataTextField: 'title' }"></select>
							</div>
							<div class="clearfix"></div>
						</div>
					</form>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
					<button class='btn btn-sm btn-success' data-bind="click: viewModel.designer.createWidget">
						<span class='glyphicon glyphicon-save'></span> Save
					</button>
	            </div>
				
	        </div>
	    </div>
	</div>
</div>