<!-- widget -->
<script>
	viewModel.header.PageID = "{{.pageID}}";
	viewModel.header.title = "{{.title}}";
	viewModel.header.href = "{{.href}}";
	viewModel.header.production = {{.production}};
</script>
<script src="/static/asset/js/main/designer.js"></script>

<script type="text/template" id="template-panel">
	<div class="grid-item" /** data-ss-colspan="10" */>
		<div class="panel panel-custom">
			<div class="panel-heading">
				<h3 class="panel-title">Panel 1</h3>
			</div>
			<div class="panel-config">
				<span class="clickable" onclick="viewModel.designer.hideShow(this)">
					<i class="fa fa-chevron-up hideshow"></i>
				</span>
				<span class="clickable">
					<i class="fa fa-gear btn-popover"></i>
				</span>
				<span class="clickable" onclick="viewModel.designer.removePanel(this)">
					<i class="fa fa-close"></i>
				</span>
			</div>
			<div class="panel-body">Panel content</div>
		</div>
	</div>
</script>

<script type="text/template" id="template-popover">
	<div class="popover" role="tooltip" style="width: 300px;">
		<div class="arrow"></div>
		<h3 class="popover-title"></h3>
		<div class="popover-content"></div>
	</div>
</script>

<script type="text/template" id="template-content-popover-panel">
	<form class="form-horizontal page-form" data-bind="with: viewModel.designer.panelConfig">
		<div class="form-group">
			<label class="col-sm-2 control-label">Title</label>
			<div class="col-sm-10">
				<input required name="Title" type="text" class="form-control input-sm" data-bind="value: title" />
				<span class="k-invalid-msg" data-for="Title"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Width</label>
			<div class="col-sm-10">
				<select style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionPanelWidth, value: width }"></select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Offset</label>
			<div class="col-sm-10">
				<select style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionPanelWidth, value: offset }"></select>
			</div>
		</div>
		<div class='pull-right' style="margin-top: 0px;">
			<button data-bind="click: viewModel.designer.createPanel" class='btn btn-sm btn-success'>
				<span class='glyphicon glyphicon-save'></span> Save
			</button>
		</div>
	</form>
</script>

<div class="container-fluid content-main chart-widget" data-bind="visible: mode() == '', with: designer">
	<div class="content-header">
		<div class="row">
			<div class="col-md-12 title-content">
				<span class="col-md-3 page-title"></span>
				<div class="col-md-9 btn-nav-container">
					<button class="btn btn-sm btn-primary btn-popover btn-add-panel" data-bind="click: showAddPanelModal">
						<span class="glyphicon glyphicon-plus"></span> Add Panel
					</button>
					<button class="btn btn-sm btn-info btn-configure" data-bind="click: showConfigurePage">
						<span class="glyphicon glyphicon-cog"></span> Configure
					</button>
					<a class="btn btn-sm btn-warning btn-preview" data-bind="attr: { 'href': viewModel.designer.href }" target="_blank">
						<span class="glyphicon glyphicon-eye-open"></span> Preview
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="content-body content-panel" data-overlay-page-wrap>
		<div class="grid-container"></div>
	</div>

	<div class="modal fade modal-add-panel" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Add new panel</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal page-form" data-bind="with: viewModel.designer.panelConfig">
						<div class="form-group">
							<label class="col-sm-4 control-label">Title</label>
							<div class="col-sm-6">
								<input required name="Title" type="text" class="form-control input-sm" data-bind="value: title" />
								<span class="k-invalid-msg" data-for="Title"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Width</label>
							<div class="col-sm-6">
								<input style="width: 40%;" name="width" required data-required-msg="Width is required" data-bind="kendoNumericTextBox: { value: width, min: 1, max: 12, format: '#' }" />
								<label style="margin-left: 15px;">min: 1</label>
								<label style="margin-left: 10px;">max: 12</label>
								<br />
								<span class="k-invalid-msg" data-for="width"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Offset</label>
							<div class="col-sm-6">
								<input style="width: 40%;" name="offset" required data-required-msg="Offset is required" data-bind="kendoNumericTextBox: { value: offset, min: 0, max: 12, format: '#' }" />
								<label style="margin-left: 15px;">min: 0</label>
								<label style="margin-left: 10px;">max: 12</label>
								<br />
								<span class="k-invalid-msg" data-for="offset"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Hidden Panel Header</label>
							<div class="col-sm-6">
								<!--input style="width: 40%;" name="showHide" /-->
								<!--input type="checkbox" id="preAuth" name="preAuth" data-on="primary" data-off="info" data-on-label="YES" data-off-label="NO" -->
								<input name="hideContainerPanel"  data-bind="checkedValue: hideContainerPanel, checked: hideContainerPanel"  type="checkbox" checked data-show="toggle">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
					<button class='btn btn-sm btn-success' data-bind="click: viewModel.designer.createPanel">
						<span class='glyphicon glyphicon-save'></span> Save
					</button>
				</div>

			</div>
		</div>
	</div>

	<div class="modal fade modal-add-widget" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Add new widget</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal page-form" data-bind="with: viewModel.designer.widgetConfig">
						<div class="form-group">
							<label class="col-sm-4 control-label">Panel :</label>
							<div class="col-sm-6">
								<select name="panel" disabled required data-required-msg="Select panel" style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionPanelID, value: panelID, optionLabel: 'Select one', dataValueField: 'value', dataTextField: 'title' }"></select>
								<span class="k-invalid-msg" data-for="panel"></span>
							</div>
							<div class="clearfix"></div>
						</div>
						<hr />
						<div class="form-group">
							<label class="col-sm-4 control-label">Title :</label>
							<div class="col-sm-6">
								<input required name="Title" type="text" class="form-control input-sm" data-bind="value: title" />
								<span class="k-invalid-msg" data-for="Title"></span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Width Ratio :</label>
							<div class="col-sm-6">
								<input name="width" style="width: 40%;" data-bind="kendoNumericTextBox: { value: width, min: 10, max: 100, format: '# \\%' }" />
								<span class="k-invalid-msg" data-for="width"></span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Height :</label>
							<div class="col-sm-6">
								<input name="height" style="width: 40%;" data-bind="kendoNumericTextBox: { value: height, min: 0, format: '# px' }" />
								<span class="k-invalid-msg" data-for="height"></span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Widget :</label>
							<div class="col-sm-6">
								<select name="widget" style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionWidgetType, value: type, dataValueField: 'value', dataTextField: 'title', change: viewModel.designer.changePopupWidgetSelectedTypeValue }"></select>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Setting :</label>
							<div class="col-sm-6">
								<select name="setting" required data-required-msg="Setting is require" style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionWidgetID, value: widgetID, optionLabel: 'Select one', dataValueField: 'value', dataTextField: 'title' }"></select>
								<span class="k-invalid-msg" data-for="setting"></span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group" data-bind="visible:viewModel.designer.widgetConfig.type() !== 'selector'">
							<label class="col-sm-4 control-label">Data Source :</label>
							<div class="col-sm-6">
								<!-- <select name="datasource" required data-required-msg="Data source is required" style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionDataSources, value: dataSource, optionLabel: 'Select one', dataValueField: 'value', dataTextField: 'title' }"></select>
								<span class="k-invalid-msg" data-for="datasource"></span> -->
								<select name="datasource" style="width: 100%;" data-bind="kendoDropDownList: { data: viewModel.designer.optionDataSources, value: dataSource, optionLabel: 'Select one', dataValueField: 'value', dataTextField: 'title' }"></select>
							</div>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
					<button class='btn btn-sm btn-success' data-bind="click: viewModel.designer.createWidget">
						<span class='glyphicon glyphicon-save'></span> Save
					</button>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="container-fluid content-main chart-configure" data-bind="visible: mode() == 'configure', with: designer">
	<div class="content-header">
		<div class="row">
			<div class="col-md-12 title-content">
				<span class="col-md-3 page-title"></span>
				<div class="col-md-9 btn-nav-container">
					<button class="btn btn-sm btn-warning" data-bind="click: backToFront">
						<span class="glyphicon glyphicon-chevron-left"></span> Cancel
					</button>
					<button class="btn btn-sm btn-primary" data-bind="click: saveConfiguration">
						<span class="glyphicon glyphicon-save"></span> Save
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="content-body content-panel" data-overlay-page-wrap data-bind="with: config">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">General</h1>
				</div>
				<div class="panel-body form-panel">
					<label class="col-md-6">Choose theme color</label>
					<div class="col-md-6">
						<div data-bind="kendoColorPicker: { buttons: false, value: themeColor, select: viewModel.designer.selectThemeColor }"></div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Data Source</h1>
				</div>
				<div class="panel-body form-panel">
					<p>Select data sources</p>

					<div class="col-md-12">
						<ul data-bind="foreach: viewModel.designer.allDatasources" style="list-style: none; padding: 0px;" class="config-selected-data-sources">
							<li>
								<input type="checkbox" data-bind="checked: viewModel.designer.isDataSourceChecked($data._id)" />
								<label data-bind="text: $data.title"></label>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Panel Visibility</h1>
				</div>
				<div class="panel-body form-panel">
					<p>Change visibility of panel</p>

					<div class="col-md-12">
						<ul data-bind="foreach: content" style="list-style: none; padding: 0px;" class="config-showed-data-sources">
							<li>
								<input type="checkbox" data-bind="checked: viewModel.designer.isPanelShowed($data)" />
								<label data-bind="text: $data.title() + '(' + $data.panelID() + ')'"></label>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
