<!-- header -->
<script src="/static/asset/js/main/grid.js"></script>

<script type="text/html" id="template-column">
	<tr>
		<td data-bind="text:field"></td>
		<td data-bind="text:title"></td>
		<td></td>
		<td>
			<button class="btn btn-danger btn-sm" data-bind="click:viewModel.grid.removeColumn"><span class="glyphicon glyphicon-trash"></span></button>
			<button class="btn btn-sm btn-success" data-bind="click:function(){viewModel.grid.editColumn($index())}"><span class="glyphicon glyphicon-pencil"></span></button>
		</td>
	</tr>
</script>
<script type="text/html" id="template-aggregate">
	<tr>
		<td data-bind="text:field"></td>
		<td data-bind="text:aggregate"></td>
		<td>
			<button class="btn btn-danger btn-sm" data-bind="click:viewModel.grid.removeAggregate"><span class="glyphicon glyphicon-trash"></span></button>
			<button class="btn btn-sm btn-success" data-bind="click:function(){viewModel.grid.editAggregate($index())}"><span class="glyphicon glyphicon-pencil"></span></button>
		</td>
	</tr>
</script>
<!-- Content Conf Grid -->
<div class="container-fluid content-main chart-widget" data-bind="visible: (mode() == 'viewgrid'), with: grid">
	<div class="content-header">
		<div class="row">
			<div class="col-md-12 title-content">
				<span class="col-md-3">Grid Widget</span>
				<div class="col-md-9">
					<button class="btn btn-sm btn-primary" data-bind="click:AddNew">
						<span class="glyphicon glyphicon-plus"></span> Add New Grid
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="content-body" data-overlay-page-wrap>
		<div class="row">
			<div class="panel panel-custom">
				<div class="panel-heading">
					<h1 class="panel-title">Data Grid</h1>
				</div>
				<div class="panel-body form-panel">
					<div id="grid-data"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid content-main chart-widget" data-bind="visible: (mode() == 'grid'), with: grid">
	<div class="content-header">
		<div class="row">
			<div class="col-md-12 title-content">
				<span class="col-md-3">Widget Grid Menu</span>
				<div class="col-md-9">
					<button class="btn btn-sm btn-danger" data-bind="click:backGridData"><span class="glyphicon glyphicon-chevron-left"></span></button>
					<button class="btn btn-sm btn-primary" data-bind="click:save">
						<span class="glyphicon glyphicon-save"></span> <span data-bind="text:status"></span>
					</button>
					<button class="btn btn-sm btn-success" data-bind="click:preview">
						<span class="glyphicon glyphicon-eye-open"></span> Preview
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="content-body" data-overlay-page-wrap>
		<div class="row">
			<div class="editor" data-bind="with: viewModel.grid.config">
				<ul id="tabsgrid" class="nav nav-tabs" data-tabs="tabs">
					<li class="active"><a href="#general" data-toggle="tab">General Setting</a></li>
					<li><a href="#column" data-toggle="tab">Columns Setting</a></li>
					<li><a href="#export" data-toggle="tab">Export Grid</a></li>
			    </ul>
			    <div id="chart-tab-content" class="tab-content">
					<div class="tab-pane active" id="general">
						<div class="panel panel-custom">
							<div class="panel-heading">
								<h1 class="panel-title">General</h1>
							</div>
							<div class="panel-body form-panel">
								<div class="row">
									<div class="col-md-6">
							            <label class="col-md-3 filter-label">Title</label>
							            <div class="col-md-8">
							                <input name="txtPage" class="form-input form-control" type="text" data-bind="value:outsider.title" />
							            </div>
							        </div>
									<div class="col-md-6">
							            <label class="col-md-3 filter-label">Page Size</label>
							            <div class="col-md-8">
							                <input name="txtPage" class="form-input form-control" type="text" data-bind="value:pageSize" />
							            </div>
							        </div>
							        <div class="col-md-6">
							            <label class="col-md-3 filter-label">Groupable</label>
							            <div class="col-md-8">
							                <select class="form-control" data-bind="booleanValue:groupable">
												<option value="true">true</option>
												<option value="false">false</option>
											</select>
							            </div>
							        </div>
							        <div class="col-md-6">
							            <label class="col-md-3 filter-label">Sortable</label>
							            <div class="col-md-8">
							                <select class="form-control" data-bind="booleanValue:sortable">
												<option value="true">true</option>
												<option value="false">false</option>
											</select>
							            </div>
							        </div>
							        <div class="col-md-6">
							            <label class="col-md-3 filter-label">Filterable</label>
							            <div class="col-md-8">
							                <select class="form-control" data-bind="booleanValue:filterable">
												<option value="true">true</option>
												<option value="false">false</option>
											</select>
							            </div>
							        </div>
							        <div class="col-md-6">
							            <label class="col-md-3 filter-label">Column Menu</label>
							            <div class="col-md-8">
							                <select class="form-control" data-bind="booleanValue:columnMenu">
												<option value="true">true</option>
												<option value="false">false</option>
											</select>
							            </div>
							        </div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="column" data-bind="with:viewModel.grid.column">
						<div class="panel panel-custom">
							<div class="panel-heading">
								<h1 class="panel-title">Data Source</h1>
							</div>
							<div class="panel-body">
								<form class="form-horizontal">
									<p class="bg-notif bg-info">
										<span class="glyphicon glyphicon-info-sign"></span>
										This data source will be used for testing purpose.
									</p>
									<div class="form-group">
										<label class="col-sm-2 control-label">Data Source</label>
										<div class="col-sm-10">
											<select class="data-source-selector" data-bind="kendoDropDownList: { data: viewModel.grid.dataSources, select: viewModel.grid.selectDataSource, dataTextField: 'title', dataValueField: '_id', optionLabel: 'Select one', value: $parent.outsider.dataSourceKey }" style="width: 200px;"></select>
										</div>
									</div>
								</form>
							</div>
						</div>

						<div class="panel panel-custom">
							<div class="panel-heading">
								<h1 class="panel-title">Column</h1>
							</div>
							<div class="panel-body form-panel">
								<ul id="tabscolumn" class="nav nav-tabs" data-tabs="tabs">
									<li class="active"><a href="#generalcolumn" data-toggle="tab">General Setting</a></li>
									<li><a href="#headerfooter" data-toggle="tab">Header & Footer</a></li>
							    </ul>
							    <div id="column-tab-content" class="tab-content">
							    	<div class="tab-pane active" id="generalcolumn">
							    		<div class="row">
								    		<div class="col-md-6">
									            <label class="col-md-3 filter-label">Template</label>
									            <div class="col-md-8">
									                <input name="txtPage" class="form-input form-control" type="text" data-bind="value:template" />
									            </div>
									        </div>
									        <div class="col-md-6">
									            <label class="col-md-3 filter-label">Field</label>
									            <div class="col-md-8">
									                <input name="txtPage" class="form-input form-control" type="text" data-bind="kendoDropDownList: { data: viewModel.grid.template.dataSourceFields, dataTextField: 'title', dataValueField: 'value', optionLabel: 'Select one', value: viewModel.grid.column.field }" />
									            </div>
									        </div>
									        <div class="col-md-6">
									            <label class="col-md-3 filter-label">Title</label>
									            <div class="col-md-8">
									                <input name="txtPage" class="form-input form-control" type="text" data-bind="value:title" />
									            </div>
									        </div>
									        <div class="col-md-6">
									            <label class="col-md-3 filter-label">Format</label>
									            <div class="col-md-8">
									                <input name="txtPage" class="form-input form-control" type="text" data-bind="value:format" />
									            </div>
									        </div>
									        <div class="col-md-6">
									            <label class="col-md-3 filter-label">Width</label>
									            <div class="col-md-8">
									                <input name="txtPage" class="form-input form-control" type="text" data-bind="value:width" />
									            </div>
									        </div>
									        <div class="col-md-6">
									            <label class="col-md-3 filter-label">Menu</label>
									            <div class="col-md-8">
									                <select class="form-control" data-bind="booleanValue:menu">
														<option value="true">true</option>
														<option value="false">false</option>
													</select>
									            </div>
									        </div>
									    </div>
							    	</div>
							    	<div class="tab-pane" id="headerfooter">
							    		<div class="row">
							    			<div class="col-md-6">
									            <label class="col-md-4 filter-label">Header Template</label>
									            <div class="col-md-7">
									                <input name="txtPage" class="form-input form-control" type="text" data-bind="value:headerTemplate" />
									            </div>
									        </div>
									        <div class="col-md-6">
									            <label class="col-md-4 filter-label">Footer Template</label>
									            <div class="col-md-7">
									                <input name="txtPage" class="form-input form-control" type="text" data-bind="value:footerTemplate" />
									            </div>
									        </div>
									        <div class="col-md-6">
									            <label class="col-md-4 filter-label">Header Style</label>
									            <div class="col-md-7">
									                <input name="txtPage" class="form-input form-control" type="text" data-bind="value:headerAttributes.style" />
									            </div>
									        </div>
							    		</div>
							    	</div>
							    </div>
							    <hr class="line-hr"/>
								<div class="row">
							        <div class="col-md-12">
							        	<button class="btn btn-sm btn-primary" data-bind="click:viewModel.grid.addColumn"><span class="glyphicon glyphicon-plus"></span>Add Column</button>
							        	<button class="btn btn-sm btn-warning" data-bind="click:viewModel.grid.clearColumn"><span class="glyphicon glyphicon-erase"></span> Clear Column</button>
							        </div>
							        <div class="col-md-11">
							        	<table class="table table-hover">
							        		<thead>
							        			<tr>
							        				<th>Field</th>
							        				<th>Title</th>
							        				<th>Format</th>
							        				<th>Action</th>
							        			</tr>
							        		</thead>
							        		<tbody data-bind="template:{name:'template-column', foreach:viewModel.grid.config.columns()}"></tbody>
										</table>
							        </div>
								</div>
							</div>
						</div>

						<div class="panel panel-custom">
							<div class="panel-heading">
								<h1 class="panel-title">Aggregate</h1>
							</div>
							<div class="panel-body form-panel" data-bind="with:viewModel.grid.aggregate">
								<div class="row">
									<div class="col-md-6">
							            <label class="col-md-3 filter-label">Field</label>
							            <div class="col-md-8">
							            	<input name="txtPage" class="form-input form-control" type="text" data-bind="kendoDropDownList: { data: viewModel.grid.template.dataSourceFields, dataTextField: 'title', dataValueField: 'value', optionLabel: 'Select one', value: field }" />
							            </div>
							        </div>
							        <div class="col-md-6">
							            <label class="col-md-3 filter-label">Aggregate</label>
							            <div class="col-md-8">
							            	<input name="txtPage" class="form-input form-control" type="text" data-bind="kendoDropDownList: { data: viewModel.grid.template.aggregateColumn, optionLabel: 'Select one', value: aggregate }" />
							            </div>
							        </div>
							        <div class="col-md-12">
							        	<button class="btn btn-sm btn-primary" data-bind="click:viewModel.grid.addAggregate"><span class="glyphicon glyphicon-plus"></span>Add Aggregate</button>
							        	<button class="btn btn-sm btn-warning" data-bind="click:viewModel.grid.clearAggregate"><span class="glyphicon glyphicon-erase"></span> Clear Aggregate</button>
							        </div>
							        <div class="col-md-11">
							        	<table class="table table-hover">
							        		<thead>
							        			<tr>
							        				<th>Field</th>
							        				<th>Aggregate</th>
							        				<th>Action</th>
							        			</tr>
							        		</thead>
							        		<tbody data-bind="template:{name:'template-aggregate', foreach:viewModel.grid.config.dataSource.aggregate()}"></tbody>
										</table>
							        </div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="export">
						<div class="panel panel-custom">
							<div class="panel-heading">
								<h1 class="panel-title">PDF</h1>
							</div>
							<div class="panel-body form-panel">
								<div class="row">
									<div class="col-md-6">
							            <label class="col-md-3 filter-label">Visible</label>
							            <div class="col-md-8">
							                <input type="checkbox" id="ckcpdf" data-bind="checked: outsider.visiblePDF, click: viewModel.grid.visiblePDF" />
							            </div>
							        </div>
								</div>
								<div class="row" data-bind="visible:outsider.visiblePDF() === true">
									<div class="col-md-6">
							            <label class="col-md-3 filter-label">All Pages</label>
							            <div class="col-md-8">
							                <select class="form-control" data-bind="booleanValue:pdf.allPages">
												<option value="true">true</option>
												<option value="false">false</option>
											</select>
							            </div>
							        </div>
							        <div class="col-md-6">
							            <label class="col-md-3 filter-label">File Name</label>
							            <div class="col-md-8">
							                <input name="txtNamePdf" class="form-input form-control" type="text" data-bind="value:pdf.fileName" />
							            </div>
							        </div>
								</div>
							</div>
						</div>
						<div class="panel panel-custom">
							<div class="panel-heading">
								<h1 class="panel-title">Excel</h1>
							</div>
							<div class="panel-body form-panel">
								<div class="row">
									<div class="col-md-6">
							            <label class="col-md-3 filter-label">Visible</label>
							            <div class="col-md-8">
							                <input type="checkbox" data-bind="checked: outsider.visibleExcel, click: viewModel.grid.visibleExcel" />
							            </div>
							        </div>
								</div>
								<div class="row" data-bind="visible:outsider.visibleExcel() === true">
									<div class="col-md-6">
							            <label class="col-md-3 filter-label">All Pages</label>
							            <div class="col-md-8">
							                <select class="form-control" data-bind="booleanValue:excel.allPages">
												<option value="true">true</option>
												<option value="false">false</option>
											</select>
							            </div>
							        </div>
							        <div class="col-md-6">
							            <label class="col-md-3 filter-label">File Name</label>
							            <div class="col-md-8">
							                <input name="txtNamePdf" class="form-input form-control" type="text" data-bind="value:excel.fileName" />
							            </div>
							        </div>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>

			<!-- <div class="col-md-11" id="gridResult"></div> -->
			<div class="modal fade modal-grid-preview" tabindex="-1" role="dialog">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			                <h4 class="modal-title">Grid Preview</h4>
			            </div>
			            <div class="modal-body">
			                <div class="grid-preview"></div>
			            </div>
			            <div class="modal-footer">
			                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			            </div>
			        </div>
			    </div>
			</div>

		</div>
	</div>
</div>
<!-- End Content Grid -->