<!DOCTYPE html>
<html>
<head>
	<title>EACIIT Web Template</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="//static/asset/img/logo.png" type="image/x-icon" />
    <link rel="icon" href="//static/asset/img/logo.png" type="image/x-icon" />

    <script src="/static/asset/js/jquery-2.1.0.min.js"></script>
    <script src="/static/asset/js/jquery-ui.min.js"></script>
    <script src="/static/asset/js/bootstrap.min.js"></script>

    <link href="/static/asset/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="/static/asset/css/site.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/asset/css/font-awesome.css" />
    <link href="/static/asset/css/overlay.css" type="text/css" rel="stylesheet"/>
    <link href="/static/asset/css/custom.css" type="text/css" rel="stylesheet" />
	<script src="/static/asset/js/app.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/res//static/asset/iconpack/flaticon.css"> -->
</head>
<body>
	<!-- Navbar Header -->
	<div class="container-fluid">
		<header id="page-header">
			<section id="logo">
                <div id="titlelogo"></div>
            </section>
		</header>
		<nav class="navbar">
			<div class="container-fluid">
				<div id="navbar" class="collapse navbar-collapse">
				</div>
			</div>
		</nav>
	</div>
	<!-- End Header Nabar -->

	<!-- Content Menu Left -->
	<div class="content-menu-left" id="menu-left" style="left:0px;">
		<div class="toogle-left">
			<span class="glyphicon glyphicon-align-justify" id="toggle-left"></span>
		</div>
		<div class="list-group" id="listmenuleft">
			<!-- <ul class="topnav menu-left-nest" style="margin:10px;">
				<li style="text-align:left;">
					<a href="#" style="border-left-width: 0px !important; border-left-style: solid !important; display: inline-block; float: none;" class="title-menu-left">
                        <span style="display: inline-block; float: none;">Page Menu</span>
                    </a>
				</li>
				<li>
					<a class="tooltip-tip ajax-load tooltipster-disable" href="#">
	                    <i class="glyphicon glyphicon-file"></i>
	                    <span style="display: inline-block; float: none;">Page</span>
	                </a>
	                <ul>
	                    <li style="text-align: left;">
	                        <a class="tooltip-tip2 ajax-load tooltipster-disable" href="#">
	                        	<i class="glyphicon glyphicon-list-alt"></i>
	                        	<span style="display: inline-block; float: none;">Blank Page</span>
	                        </a>
	                    </li>
	                    <li style="text-align: left;">
	                        <a class="tooltip-tip2 ajax-load tooltipster-disable" href="blog-detail.html">
	                        	<i class="glyphicon glyphicon-repeat"></i>
	                        	<span style="display: inline-block; float: none;">Login Page</span>
	                        </a>
	                    </li>
	                </ul>
				</li>
				<li>
					<a class="tooltip-tip ajax-load tooltipster-disable" href="#">
                        <i class="glyphicon glyphicon-file"></i>
                        <span style="display: inline-block; float: none;">Page Bonus</span>
                    </a>
				</li>
			</ul>
			<ul class="topnav menu-left-nest" style="margin:10px;">
				<li style="text-align:left;">
					<a href="#" style="border-left-width: 0px !important; border-left-style: solid !important; display: inline-block; float: none;" class="title-menu-left">
                        <span style="display: inline-block; float: none;">Page Menu</span>
                    </a>
				</li>
				<li>
					<a class="tooltip-tip ajax-load tooltipster-disable" href="#">
	                    <i class="glyphicon glyphicon-file"></i>
	                    <span style="display: inline-block; float: none;">Page</span>
	                </a>
	                <ul>
	                    <li style="text-align: left;">
	                        <a class="tooltip-tip2 ajax-load tooltipster-disable" href="#">
	                        	<i class="glyphicon glyphicon-list-alt"></i>
	                        	<span style="display: inline-block; float: none;">Blank Page</span>
	                        </a>
	                    </li>
	                    <li style="text-align: left;">
	                        <a class="tooltip-tip2 ajax-load tooltipster-disable" href="blog-detail.html">
	                        	<i class="glyphicon glyphicon-repeat"></i>
	                        	<span style="display: inline-block; float: none;">Login Page</span>
	                        </a>
	                    </li>
	                </ul>
				</li>
				<li>
					<a class="tooltip-tip ajax-load tooltipster-disable" href="#">
                        <i class="glyphicon glyphicon-file"></i>
                        <span style="display: inline-block; float: none;">Page Bonus</span>
                    </a>
				</li>
			</ul> -->
		</div>
	</div>
	<!-- End Content Menu Left -->

	<!-- Content -->
	<div class="wrap-fluid content-all" style="width: auto; margin-left: 250px;">
		<div class="container-fluid content-main">
			<div class="content-header">
				<div class="row">
					<div class="col-md-12 title-content">
						<span class="title-header" id="title-app">
							<!-- Title App Setting di EaciitGeneral -->
						</span>
						<span id="imenu-right" class="glyphicon glyphicon-align-left imenu-right"></span>
					</div>
				</div>
			</div>
			<div class="content-breadcrumb">
				<!-- Content breadcrumb setting in EaciitGeneral -->
			</div>

			<!-- Content Body -->
			<div class="content-body" data-overlay-page-wrap>
				<button class="btn btn-sm btn-success" id="AddNotif">Add Notification</button>
				<button class="btn btn-sm btn-info" id="AddMultipleNotif">Add Multiple Notification</button>
				<button class="btn btn-sm btn-primary" id="ClearNotif">Clear Notification</button>
				<button class="btn btn-sm btn-danger" id="RemoveNotif">Remove Notification</button>
				<button class="btn btn-sm btn-warning" id="GetNotif">Get Notification</button> 
				<br /><br />
				<button class="btn btn-sm btn-default" id="defaultModal">Modal Default</button>
				<button class="btn btn-sm btn-success" id="okModal">Modal Ok</button>
				<button class="btn btn-sm btn-warning" id="warningModal">Modal Warning</button>
				<button class="btn btn-sm btn-danger" id="errorModal">Modal Error</button>
			</div>
			<!-- End Content Body -->

		</div>
	</div>

	<!-- Content Menu Right -->
	<div class="content-menu-right" id="menu-right" style="right:-250px;">
		<div class="list-menu-right">
			<div class="menu-right-nest">
				<div class="menu-title">Server Statistic</div>
				<div class="content-menu-right"></div>
			</div>
			<div class="menu-right-nest">
				<div class="menu-title">Database Request</div>
				<div class="content-menu-right"></div>
			</div>
			<div class="menu-right-nest">
				<div class="menu-title">Server Response</div>
				<div class="content-menu-right"></div>
			</div>
		</div>
	</div>
	<!-- End Content Menu Right -->

	<!-- Content Chat -->
	<div class="notif">
		<div class="media-body">
			<div class="header-notif">
				<a class="btn btn-sm"><i class="fa fa-circle-o status" style="margin-right: 5px !important;"></i> Notification</a>
			</div>
			<div class="content-notif">
			</div>
			<!-- <div class="footer-notif media">
				<i class="chat-list-toggle pull-left fa fa-bars"></i>
                <i class="pull-right fa fa-picture-o"></i> 
                <div class="media-body">
                    <textarea class="form-control" placeholder="Type something..."></textarea>
                </div>
			</div> -->
		</div>
	</div>
	<!-- End Content Chat -->
</body>
</html>

<script type="text/javascript">
	// Generate Eaciit
	eaciitGeneral(generalfunc, {
		title:"Dashboard 2", 
		breadcrumb: {urlhome:"index.html", menu:[{
			title:"Dashboard",
			href:"#"
		},{
			title:"Dashboard 2",
			href:"#"
		}]},
	});

	// generate menu top
	// $('#navbar').eaciitMenu('top',[
	// 	{title:'Dashboard',href:'/',submenu:[],selected:true},
	// 	{title:'Page',href:'#',submenu:[
	// 		{title:'Blank',href:"#",submenu:[]}
	// 	],selected:false},
	// 	{title:'Example',href:'#',submenu:[],selected:false}
	// ]);

	// generate menu left
	// $('#listmenuleft').eaciitMenu('left',[
	// 	{titlegroup:'PAGE MENU', leftmenu:[
	// 		{title:'Page', icon:'glyphicon glyphicon-file', href:'#', submenu: [
	// 			{title:'Blank Page', icon:'glyphicon glyphicon-list-alt' , href:'#'},
	// 			{title:'Login Page', icon:'glyphicon glyphicon-repeat', href:'#'}
	// 		]},
	// 		{title:'Page Bonus', icon:'glyphicon glyphicon-file', href:'#', submenu:[]}
	// 	]},
	// 	{titlegroup:'PAGE MENU', leftmenu:[
	// 		{title:'Page', icon:'glyphicon glyphicon-file', href:'#', submenu: [
	// 			{title:'Blank Page', icon:'glyphicon glyphicon-list-alt' , href:'#'},
	// 			{title:'Login Page', icon:'glyphicon glyphicon-repeat', href:'#'}
	// 		]}
	// 	]}
	// ]);

	// Add Notification
	$('#AddNotif').click(function() {
		$('.content-notif').eaciitNotif('add',{id:'1',text:'asd1', notif:true});
		$('.content-notif').eaciitNotif('add',{id:'2',text:'asd2', notif:true});
		$('.content-notif').eaciitNotif('add',{id:'3',text:'asd3', notif:true});
		$('.content-notif').eaciitNotif('add',{id:'4',text:'asd4', notif:true});
		$('.content-notif').eaciitNotif('add',{id:'5',text:'asd5', notif:true});
		$('.content-notif').eaciitNotif('add',{id:'6',text:'asd6', notif:true});
	});

	// Clear Notification
	$('#ClearNotif').click(function(){
		$('.content-notif').eaciitNotif('clear');
	});

	// Remove Notification
	$('#RemoveNotif').click(function(){
		$('.content-notif').eaciitNotif('remove',{key:'id', value: '2'});
	});

	// Get Data Notification
	$('#GetNotif').click(function(){
		var datanotif = $('.content-notif').eaciitNotif('get');
		console.log(datanotif);
	});

	// Add multiple value Notification
	$('#AddMultipleNotif').click(function(){
		$('.content-notif').eaciitNotif('addMultiple',{notif:false,data:[{id:'11',text:'asd11'},{id:'12',text:'asd12'},{id:'13',text:'asd13'}]});
	});

	// Ok Modal animation slide-up, slide-down, slide-right || type default, ok, warning, error
	$('#okModal').click(function(){
		eaciitGeneral(eaciitModalCall,{animation:'slide-down', type:'ok', text:'Test Content <br /> OK Bro !!!'});
	});
	$('#defaultModal').click(function(){
		eaciitGeneral(eaciitModalCall,{animation:'slide-down', type:'default', text:'Test Content <br /> Default Bro !!!'});
	});
	$('#warningModal').click(function(){
		eaciitGeneral(eaciitModalCall,{animation:'slide-up', type:'warning', text:'Test Content <br /> Warning Bro !!!'});
	});
	$('#errorModal').click(function(){
		eaciitGeneral(eaciitModalCall,{animation:'slide-right', type:'error', text:'Test Content <br /> Error Bro !!!'});
	});

	function getTopMenu(){
		var url = "/template/getmenutop";
	    $.ajax({
			url: url,
			type: 'post',
			dataType: 'json',
			data : {},
			success : function(res) {
				// Generate top menu with knot v.1 and dbox eaciit
				$('#navbar').eaciitMenu('top',res);
			},
	    });
	}

	function getMenuLeft(){
		var url = "/template/getmenuleft";
		$.ajax({
			url: url,
			type: 'post',
			dataType: 'json',
			data : {},
			success : function(res) {
				// Generate left menu with knot v.1 and dbox eaciit
				$('#listmenuleft').eaciitMenu('left',res);
			},
	    });
	}

	getTopMenu();
	getMenuLeft();
</script>

<script src="/static/asset/js/load.js"></script>
<script src="/static/asset/js/main.js"></script>
<script src="/static/asset/js/overlay.js"></script>