<!DOCTYPE html>
<html>
<head>
	<title>EACIIT Web Template</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/static/asset/img/logo.png" type="image/x-icon" />
    <link rel="icon" href="/static/asset/img/logo.png" type="image/x-icon" />

	<!-- header -->
    <script>
    	var viewModel = {};
    	viewModel.header = { title: '{{.title}}', href: '{{.href}}' };
    </script>

	<!-- jquery -->
    <script src="/static/asset/jquery/jquery-2.1.0.min.js"></script>
    <script src="/static/asset/jquery/jquery-ui.min.js"></script>
	
	<!-- bootstrap -->
    <script src="/static/asset/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/asset/bootstrap/bootstrap.min.css" />
	
	<!-- font-awesome -->
    <link rel="stylesheet" href="/static/asset/font-awesome/css/font-awesome.min.css" />

	<!-- knockout -->
    <script src="/static/asset/knockout/knockout-3.1.0.js"></script>
    <script src="/static/asset/knockout/knockout.mapping-latest.js"></script>
	
	<!-- kendo-ui -->
    <link href="/static/asset/kendo-ui/styles/kendo.common.min.css" rel="stylesheet">
    <link href="/static/asset/kendo-ui/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="/static/asset/kendo-ui/styles/kendo.default.min.css" rel="stylesheet">
    <link href="/static/asset/kendo-ui/styles/kendo.dataviz.min.css" rel="stylesheet">
    <link href="/static/asset/kendo-ui/styles/kendo.dataviz.default.min.css" rel="stylesheet">
    <script src="/static/asset/kendo-ui/js/kendo.all.min.js"></script>

	<!-- knockout-kendo -->
    <script src="/static/asset/knockout-kendo/knockout-kendo.min.js"></script>

	<!-- others -->
	<script src="/static/asset/js/main/app.js"></script>
	<script src="/static/asset/js/main/panel.js"></script>
	<script src="/static/asset/js/main/data-source.js"></script>
	<script src="/static/asset/js/main/widget.old.js"></script>
	<script src="/static/asset/touch-punch/jquery.touch-punch.min.js"></script>
	<script src="/static/asset/shapeshift/jquery.shapeshift.js"></script>
	
    <link rel="stylesheet" href="/static/asset/css/site.css" />
    <link rel="stylesheet" href="/static/asset/css/overlay.css"/>
    <link rel="stylesheet" href="/static/asset/css/custom.css" />
    <link rel="stylesheet" href="/static/asset/css/animation.css" />
    <!-- <link rel="stylesheet" href="/static/asset/css/customred.css" id="customlayout" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/res//static/asset/iconpack/flaticon.css"> -->
	
	<!-- template -->
	<script type="text/template" id="template-panel">
		<div class="panel-eaciit ss-active-child ui-draggable-handle">
			<div class="panel-container">
				<div class="panel-header">
					<span class="panel-title"></span>
					<ul class="nav navbar-right panel-toolbox">
						<li><a class="collapse-link">
							<i class="fa fa-chevron-up" onclick="viewModel.panel.collapse(this)"></i>
						</a></li>
						<li><a class="close-link" onclick="viewModel.panel.close(this)">
							<i class="fa fa-close"></i>
						</a></li>
					</ul>
					<div style="clear: both;"></div>
				</div>
				<div class="panel-content">Empty content</div>
			</div>
		</div>
	</script>
</head>
<body data-bind="with: viewModel">
	<!-- Navbar Header -->
	<div class="header">
		<header id="page-header"></header>
		<nav class="navbar">
			<div id="navbar" class="collapse navbar-collapse"></div>
		</nav>
	</div>
	<!-- End Header Nabar -->

	<!-- Content Menu Left -->
	<div id="menu-left">
		<div class="toogle-left">
			<span class="glyphicon glyphicon-align-justify" id="toggle-left"></span>
		</div>
		<div class="list-group" id="listmenuleft">
			
		</div>
	</div>
	<!-- End Content Menu Left -->

	<!-- Content -->
	<div class="wrap-fluid content-all" style="margin-left: 250px;">
		<div class="container-fluid content-main content-panel" data-bind="visible: (mode() == '')">
			<div class="content-header">
				<div class="row">
					<div class="col-md-12 title-content">
						<span class="title-header col-md-3" id="title-app">
							<!-- Title App Setting di EaciitGeneral -->
						</span>
						<div class="col-md-9">
							<span class="title-breadcrumb content-breadcrumb">
								<ul class="breadcrumb"></ul>
							</span>
							<span id="imenu-right" class="glyphicon glyphicon-align-left imenu-right"></span>
						</div>
					</div>
				</div>
			</div>

			<!-- Content Body -->
			<div class="content-body" data-overlay-page-wrap>
				<div class="column-eaciit"></div>
			</div>
			<!-- End Content Body -->
		</div>

		<div class="container-fluid content-main form-panel" data-bind="visible: (mode() == 'panel'), with: panel">
			<div class="content-body" data-overlay-page-wrap>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1 class="panel-title">Create New Panel</h1>
					</div>
					<div class="panel-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Title</label>
								<div class="col-sm-10">
									<input required data-required-msg="Title cannot be empty" name="title" type="text" class="form-control input-sm" placeholder="Type title here ..." data-bind="value: title" />
									<span class="k-invalid-msg" data-for="title"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Width</label>
								<div class="col-sm-10">
									<select required data-required-msg="Width cannot be empty" name="width" style="width: 100%" data-bind="kendoDropDownList: { data: optionsWidth, value: width, dataTextField: 'title', dataValueField: 'value' }"></select>
									<span class="k-invalid-msg" data-for="width"></span>
								</div>
							</div>
						</form>
					</div>
					<div class="panel-footer">
						<div class="pull-right">
							<button class="btn btn-sm btn-success" data-bind="click: create">
								<span class="glyphicon glyphicon-save"></span> Create
							</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid content-main form-panel" data-bind="visible: (mode() == 'data-source'), with: dataSource">
			<div class="content-body" data-overlay-page-wrap>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1 class="panel-title">Create New Panel</h1>
					</div>
					<div class="panel-body">
						
					</div>
					<div class="panel-footer">
						<div class="pull-right">
							<button class="btn btn-sm btn-success">
								<span class="glyphicon glyphicon-save"></span> Create
							</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Content Menu Right -->
	<div class="content-menu-right" id="menu-right" style="right:-250px;">
		<div class="list-menu-right">
			<div class="menu-right-nest">
				<div class="menu-title">Server Statistic</div>
				<div class="content-menu-right"></div>
			</div>
			<div class="menu-right-nest">
				<div class="menu-title">Database Request</div>
				<div class="content-menu-right"></div>
			</div>
			<div class="menu-right-nest">
				<div class="menu-title">Server Response</div>
				<div class="content-menu-right"></div>
			</div>
		</div>
	</div>
	<!-- End Content Menu Right -->

	<!-- Content Chat -->
	<div class="notif">
		<div class="media-body">
			<div class="header-notif">
				<a class="btn btn-sm"><i class="fa fa-circle-o status" style="margin-right: 5px !important;"></i> Notification</a>
			</div>
			<div class="content-notif">
			</div>
		</div>
	</div>
	<!-- End Content Chat -->

	<script type="text/javascript">
	    ko.applyBindings(viewModel);
	</script>

	<script src="/static/asset/js/load.js"></script>
	<script src="/static/asset/js/main.js"></script>
	<script src="/static/asset/js/overlay.js"></script>
</body>
</html>